
body {
    background: #fcfcfa;
}

svg * {
    fill: none;
    stroke: grey;
    stroke-width: .5px;
}

.graticule {
    stroke: black;
    opacity: .25;
}

.range_rings {
}

.bearing_lines {
}

.home {
    stroke-width: 1px;
    fill: black;
}

.map_shapes {
    fill: #DDD;
    stroke: #555
}

.map_boundaries {
    fill: none;
    stroke: #555;
}

.qso_lines {
    stroke-width: .25px;
    stroke: black;
    opacity: 0.5;
}

.qso_points {
    stroke: none;
    fill: black;
    opacity: 0.6;
}
