<section>
    <a href="https://github.com/n1ywb/log2map"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

    <h2>Log2Map: Upload your log files and make equidistant azimuthal maps!</h2>
    <em>By <a href="mailto:jeff@jefflaughlinconsulting.com">Jeff Laughlin</a>, N1YWB, Principal, <a href="http://jefflaughlinconsulting.com">
        Jeff Laughlin Consulting LLC</a></em>

    <p>This tool reads your ham radio logs and generates an equidistant
    azimuthal world map plot of your contacts using Scalable Vector
    Graphics <img style="float: right; height: 128px; width: 128px" alt="SVG logo" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/02/SVG_logo.svg/160px-SVG_logo.svg.png" width="160" height="160" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/02/SVG_logo.svg/240px-SVG_logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/02/SVG_logo.svg/320px-SVG_logo.svg.png 2x" data-file-width="512" data-file-height="512"></p>

    <h3>Steps</h3>
    <ol>
        <li>
            <a href="#qrz">
                Log in to your QRZ XML Account (Optional)
            </a>
        </li>
        <li>
            <a href="#upload">
                Upload your Cabrillo or ADIF log files
            </a>
        </li>
        <li>
            Look at pretty QSO maps!
            <a href="#map?log=static/n1ywb_iaru_2012.geojson">
                (Example)
            </a>
        </li>
    </ol>
    <div class="alert alert-danger">
      <h4>Important</h4>
        A QRZ XML subscription is highly recommended. Your password is
        transmitted securely to QRZ over SSL and is not
        stored. If you skip QRZ the system will only be able to look up
        DXCC entities from callsign prefixes. This makes the map a lot less
        interesting.
    </div>
</section>
